.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #5f9ea0;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-score {
  color: #5f9ea0;

}

.App-hint {
  color: #5f9ea0;
  padding: 20px;
}
.App-hint:first-letter {
  text-transform: capitalize;
}

.App-button {
  width: 200px;
  margin: 12px;
}

.App-item {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 2em;
  color: #5f9ea0;
}

.App-couronne {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 2em;
  color: #5f9ea0;

}

.App-couronne img {
  height: 50px;
  width: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
